# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* List of Tools for Data Science

Some f the popular languages that Data Scientists use are:
    
1. R
2. Python
3. C
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. TensorFlow

|Data Science Tools|
--------------------
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

# Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Diego Franco Goyzueta